.navbar__container {
    background-color: var(--dark);
    font-size: min(2rem, 6vw);
    gap: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem;
    -webkit-box-shadow: 0px -8px 14px 15px rgba(0, 0, 0, 0.96);
    box-shadow: 0px -8px 14px 15px rgba(0, 0, 0, 0.96);
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar__nav {
    display: flex;
    gap: 1rem;
}

.navbar__title,
.navbar__nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--mainYellow);
}

@media (max-width: 515px) {
    .navbar__container {
        flex-direction: column;
    }
}